## Pandas Introductions

### 셀실행

In [65]:
import pandas as pd
import numpy as np

In [68]:
# Series 객체
pd.Series(np.random.randn(10))

0    1.009978
1    0.537712
2    1.781605
3   -0.689354
4    0.345419
5    0.053215
6   -0.675225
7    0.188958
8   -0.632561
9   -1.183519
dtype: float64

### csv file read

In [69]:
!head -n 5 './data/deview2015_session_info.csv'

day,time,zone,title,session_id
Day1,10:00,T1,네이버 효과툰은 어떻게 만들어졌나?,115
Day1,10:00,T2,실전 스위프트 프로그래밍,95
Day1,10:00,T3,Developing Android Libraries: Lessons from Realim,119
Day1,10:00,T4,DRC-HUBO: Technical Review,114

In [72]:
ds = pd.read_csv('./data/deview2015_session_info.csv')
ds.head(10)

,day,time,zone,title,session_id
0,Day1,10:00,T1,네이버 효과툰은 어떻게 만들어졌나?,115
1,Day1,10:00,T2,실전 스위프트 프로그래밍,95
2,Day1,10:00,T3,Developing Android Libraries: Lessons from Realim,119
3,Day1,10:00,T4,DRC-HUBO: Technical Review,114
4,Day1,11:00,T1,네이버 효과툰 구현 이야기,89
5,Day1,11:00,T2,LINE on Apple Watch,61
6,Day1,11:00,T3,Quality without QA,76
7,Day1,11:00,T4,MIT Cheetah 로봇의 탄생,116
8,Day1,12:00,T1,Packetbeat 과 Elasticsearch 를 이용한 실시간 모니터링,121
9,Day1,12:00,T2,Rust 프로그래밍 언어,113

In [73]:
ds

,day,time,zone,title,session_id
0,Day1,10:00,T1,네이버 효과툰은 어떻게 만들어졌나?,115
1,Day1,10:00,T2,실전 스위프트 프로그래밍,95
2,Day1,10:00,T3,Developing Android Libraries: Lessons from Realim,119
3,Day1,10:00,T4,DRC-HUBO: Technical Review,114
4,Day1,11:00,T1,네이버 효과툰 구현 이야기,89
5,Day1,11:00,T2,LINE on Apple Watch,61
6,Day1,11:00,T3,Quality without QA,76
7,Day1,11:00,T4,MIT Cheetah 로봇의 탄생,116
8,Day1,12:00,T1,Packetbeat 과 Elasticsearch 를 이용한 실시간 모니터링,121
9,Day1,12:00,T2,Rust 프로그래밍 언어,113
10,Day1,12:00,T3,브라우저는 VSync 를 어떻게 활용하고 있을까,87
11,Day1,12:00,T4,Immersive Sound for VR,67
12,Day1,14:10,T1,React Everywhere,88
13,Day1,14:10,T2,How Riot Works,64
14,Day1,14:10,T3,안드로이드 기반의 모바일 혈액진단기 개발 삽질기 그리고 우리가 쌓은 경험,74
15,Day1,14:10,T4,Mobile 앱에서 효율적인 storage 접근 방법,78
16,Day1,15:10,T1,영상 인식을 통한 오프라인 고객 분석 솔루션과 딥러닝,70
17,Day1,15:10,T2,웹 브라우저 감옥에서 살아남기,112
18,Day1,15:10,T3,딥러닝에서 스트림처리까지: 빅데이터 분석 메타 프레임워크 Apache REEF,71
19,Day1,15:10,T4,데이터 센터의 오픈 소스 Open Compute Project (OCP),72
20,Day1,16:10,T1,데이터사이언스팀 빌딩 그리고 시스템 구축,118
21,Day1,16:10,T2,JPA와 모던 자바 데이터 저장 기술,109
22,Day1,16:10,T3,Accelerated compositing in WebKit: Now and in ...,75
23,Day1,16:10,T4,대규모 분산환경에 최적화된 APM:Pinpoint,90
24,Day2,10:00,T1,네이버 검색과 데이터마이닝,92
25,Day2,10:00,T2,Large scale backend service development using ...,63
26,Day2,10:00,T3,Building Ethereum,126
27,Day2,10:00,T4,Data science with Apache Zeppelin,123
28,Day2,11:00,T1,Docker Orchestration,117
29,Day2,11:00,T2,대화 시스템 서비스 동향 및 개발 방법,94
30,Day2,11:00,T3,HBase consistent secondary indexing,85
31,Day2,11:00,T4,기계 번역 모델 기반 질의 교정 시스템,125
32,Day2,12:00,T1,The simplicity of cluster apps with the Circui...,124
33,Day2,12:00,T2,수퍼컴퓨팅과 데이터 어낼리틱스 프레임워크 그리고 UNIST의 빅데이터 처리 프레임워크,82
34,Day2,12:00,T3,Level 2 Network Programming using PacketNgin RTOS,69
35,Day2,12:00,T4,산업 현장을 위한 증강 현실 기기 DAQRI Helmet 개발기,111
36,Day2,14:10,T1,Storm과 Elasticsearch를 활용한 로깅 플랫폼의 실시간 알람 시스템 구현,91
37,Day2,14:10,T2,WIFI를 이용한 실내 장소 인식 하기,122
38,Day2,14:10,T3,Turning data into value,68
39,Day2,14:10,T4,분산 환경에서의 스트림과 배치 처리 통합 모델,86
40,Day2,15:10,T1,Implementing Deep Learning using cuDNN,73
41,Day2,15:10,T2,증분 처리 플랫폼 Cana 개발기,84
42,Day2,15:10,T3,Enterprise Dataflow with Apache NiFi,93
43,Day2,15:10,T4,Presto 내부 구조 파헤치기,62
44,Day2,16:10,T1,코끼리 냉장고에 집어넣기 - 실시간 추천엔진을 머신 한대에 구겨넣기,83
45,Day2,16:10,T2,Netflix 빅데이터 플랫폼 + Apache Spark 통합 경험기,80
46,Day2,16:10,T3,S2Graph: A Large scale graph database with HBase,65
47,Day2,16:10,T4,Large-Scale Deep Learning on Spark,77

In [74]:
## dataframe의 index 
ds.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47], dtype='int64')

In [75]:
## row select by index
ds.iloc[32]

day                                                        Day2
time                                                      12:00
zone                                                         T1
title         The simplicity of cluster apps with the Circui...
session_id                                                  124
Name: 32, dtype: object

In [78]:
## rows select by range
ds[10:20:2]

     day   time zone                                        title  session_id
10  Day1  12:00   T3                   브라우저는 VSync 를 어떻게 활용하고 있을까          87
12  Day1  14:10   T1                             React Everywhere          88
14  Day1  14:10   T3     안드로이드 기반의 모바일 혈액진단기 개발 삽질기 그리고 우리가 쌓은 경험          74
16  Day1  15:10   T1                영상 인식을 통한 오프라인 고객 분석 솔루션과 딥러닝          70
18  Day1  15:10   T3  딥러닝에서 스트림처리까지: 빅데이터 분석 메타 프레임워크 Apache REEF          71

In [80]:
### row select by column values  
ds[ds['time']=='10:00'].head()

,day,time,zone,title,session_id
0,Day1,10:00,T1,네이버 효과툰은 어떻게 만들어졌나?,115
1,Day1,10:00,T2,실전 스위프트 프로그래밍,95
2,Day1,10:00,T3,Developing Android Libraries: Lessons from Realim,119
3,Day1,10:00,T4,DRC-HUBO: Technical Review,114
24,Day2,10:00,T1,네이버 검색과 데이터마이닝,92

In [81]:
ds['time']=='10:00'

0      True
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24     True
25     True
26     True
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
Name: time, dtype: bool

In [82]:
### 1 column select  : type은 Series임
ds['title']

0                                   네이버 효과툰은 어떻게 만들어졌나?
1                                         실전 스위프트 프로그래밍
2     Developing Android Libraries: Lessons from Realim
3                            DRC-HUBO: Technical Review
4                                        네이버 효과툰 구현 이야기
5                                   LINE on Apple Watch
6                                    Quality without QA
7                                    MIT Cheetah 로봇의 탄생
8             Packetbeat 과 Elasticsearch 를 이용한 실시간 모니터링
9                                         Rust 프로그래밍 언어
10                           브라우저는 VSync 를 어떻게 활용하고 있을까
11                               Immersive Sound for VR
12                                     React Everywhere
13                                       How Riot Works
14             안드로이드 기반의 모바일 혈액진단기 개발 삽질기 그리고 우리가 쌓은 경험
15                        Mobile 앱에서 효율적인 storage 접근 방법
16                        영상 인식을 통한 오프라인 고객 분석 솔루션과 딥러닝
17                                     웹 브라우저 감옥에서 살아남기
18          딥러닝에서 스트림처리까지: 빅데이터 분석 메타 프레임워크 Apache REEF
19             데이터 센터의 오픈 소스 Open Compute Project (OCP)
20                               데이터사이언스팀 빌딩 그리고 시스템 구축
21                                 JPA와 모던 자바 데이터 저장 기술
22    Accelerated compositing in WebKit: Now and in ...
23                          대규모 분산환경에 최적화된 APM:Pinpoint
24                                       네이버 검색과 데이터마이닝
25    Large scale backend service development using ...
26                                    Building Ethereum
27                    Data science with Apache Zeppelin
28                                 Docker Orchestration
29                                대화 시스템 서비스 동향 및 개발 방법
30                  HBase consistent secondary indexing
31                                기계 번역 모델 기반 질의 교정 시스템
32    The simplicity of cluster apps with the Circui...
33      수퍼컴퓨팅과 데이터 어낼리틱스 프레임워크 그리고 UNIST의 빅데이터 처리 프레임워크
34    Level 2 Network Programming using PacketNgin RTOS
35                  산업 현장을 위한 증강 현실 기기 DAQRI Helmet 개발기
36      Storm과 Elasticsearch를 활용한 로깅 플랫폼의 실시간 알람 시스템 구현
37                                WIFI를 이용한 실내 장소 인식 하기
38                              Turning data into value
39                            분산 환경에서의 스트림과 배치 처리 통합 모델
40               Implementing Deep Learning using cuDNN
41                                   증분 처리 플랫폼 Cana 개발기
42                 Enterprise Dataflow with Apache NiFi
43                                    Presto 내부 구조 파헤치기
44                코끼리 냉장고에 집어넣기 - 실시간 추천엔진을 머신 한대에 구겨넣기
45               Netflix 빅데이터 플랫폼 + Apache Spark 통합 경험기
46     S2Graph: A Large scale graph database with HBase
47                   Large-Scale Deep Learning on Spark
Name: title, dtype: object

In [83]:
### multi column select  : type은 Series임
ds[['title','session_id']].head()

                                               title  session_id
0                                네이버 효과툰은 어떻게 만들어졌나?         115
1                                      실전 스위프트 프로그래밍          95
2  Developing Android Libraries: Lessons from Realim         119
3                         DRC-HUBO: Technical Review         114
4                                     네이버 효과툰 구현 이야기          89

In [57]:
## dataframe의 각 column의 type
ds.dtypes

day           object
time          object
zone          object
title         object
session_id     int64
dtype: object

In [84]:
## row단위 iterations
for idx, row in ds.iterrows():
    print (idx,row.values)

0 ['Day1' '10:00' 'T1' '네이버 효과툰은 어떻게 만들어졌나?' 115]
1 ['Day1' '10:00' 'T2' '실전 스위프트 프로그래밍' 95]
2 ['Day1' '10:00' 'T3' 'Developing Android Libraries: Lessons from Realim'
 119]
3 ['Day1' '10:00' 'T4' 'DRC-HUBO: Technical Review' 114]
4 ['Day1' '11:00' 'T1' '네이버 효과툰 구현 이야기' 89]
5 ['Day1' '11:00' 'T2' 'LINE on Apple Watch' 61]
6 ['Day1' '11:00' 'T3' 'Quality without QA' 76]
7 ['Day1' '11:00' 'T4' 'MIT Cheetah 로봇의 탄생' 116]
8 ['Day1' '12:00' 'T1' 'Packetbeat 과 Elasticsearch 를 이용한 실시간 모니터링' 121]
9 ['Day1' '12:00' 'T2' 'Rust 프로그래밍 언어' 113]
10 ['Day1' '12:00' 'T3' '브라우저는 VSync 를 어떻게 활용하고 있을까' 87]
11 ['Day1' '12:00' 'T4' 'Immersive Sound for VR' 67]
12 ['Day1' '14:10' 'T1' 'React Everywhere' 88]
13 ['Day1' '14:10' 'T2' 'How Riot Works' 64]
14 ['Day1' '14:10' 'T3' '안드로이드 기반의 모바일 혈액진단기 개발 삽질기 그리고 우리가 쌓은 경험' 74]
15 ['Day1' '14:10' 'T4' 'Mobile 앱에서 효율적인 storage 접근 방법' 78]
16 ['Day1' '15:10' 'T1' '영상 인식을 통한 오프라인 고객 분석 솔루션과 딥러닝' 70]
17 ['Day1' '15:10' 'T2' '웹 브라우저 감옥에서 살아남기' 112]
18 ['Day1' '15:10' 'T3' '딥러닝에서 스트림처리까지: 빅데이터 분석 메타 프레임워크 Apache REEF' 71]
19 ['Day1' '15:10' 'T4' '데이터 센터의 오픈 소스 Open Compute Project (OCP)' 72]
20 ['Day1' '16:10' 'T1' '데이터사이언스팀 빌딩 그리고 시스템 구축' 118]
21 ['Day1' '16:10' 'T2' 'JPA와 모던 자바 데이터 저장 기술' 109]
22 ['Day1' '16:10' 'T3'
 'Accelerated compositing in WebKit: Now and in the future' 75]
23 ['Day1' '16:10' 'T4' '대규모 분산환경에 최적화된 APM:Pinpoint' 90]
24 ['Day2' '10:00' 'T1' '네이버 검색과 데이터마이닝' 92]
25 ['Day2' '10:00' 'T2'
 'Large scale backend service development using Node.js Docker and AWS' 63]
26 ['Day2' '10:00' 'T3' 'Building Ethereum' 126]
27 ['Day2' '10:00' 'T4' 'Data science with Apache Zeppelin' 123]
28 ['Day2' '11:00' 'T1' 'Docker Orchestration' 117]
29 ['Day2' '11:00' 'T2' '대화 시스템 서비스 동향 및 개발 방법' 94]
30 ['Day2' '11:00' 'T3' 'HBase consistent secondary indexing' 85]
31 ['Day2' '11:00' 'T4' '기계 번역 모델 기반 질의 교정 시스템' 125]
32 ['Day2' '12:00' 'T1'
 'The simplicity of cluster apps with the Circuit: Implementing a job scheduler'
 124]
33 ['Day2' '12:00' 'T2' '수퍼컴퓨팅과 데이터 어낼리틱스 프레임워크 그리고 UNIST의 빅데이터 처리 프레임워크' 82]
34 ['Day2' '12:00' 'T3' 'Level 2 Network Programming using PacketNgin RTOS' 69]
35 ['Day2' '12:00' 'T4' '산업 현장을 위한 증강 현실 기기 DAQRI Helmet 개발기' 111]
36 ['Day2' '14:10' 'T1' 'Storm과 Elasticsearch를 활용한 로깅 플랫폼의 실시간 알람 시스템 구현' 91]
37 ['Day2' '14:10' 'T2' 'WIFI를 이용한 실내 장소 인식 하기' 122]
38 ['Day2' '14:10' 'T3' 'Turning data into value' 68]
39 ['Day2' '14:10' 'T4' '분산 환경에서의 스트림과 배치 처리 통합 모델' 86]
40 ['Day2' '15:10' 'T1' 'Implementing Deep Learning using cuDNN' 73]
41 ['Day2' '15:10' 'T2' '증분 처리 플랫폼 Cana 개발기' 84]
42 ['Day2' '15:10' 'T3' 'Enterprise Dataflow with Apache NiFi' 93]
43 ['Day2' '15:10' 'T4' 'Presto 내부 구조 파헤치기' 62]
44 ['Day2' '16:10' 'T1' '코끼리 냉장고에 집어넣기 - 실시간 추천엔진을 머신 한대에 구겨넣기' 83]
45 ['Day2' '16:10' 'T2' 'Netflix 빅데이터 플랫폼 + Apache Spark 통합 경험기' 80]
46 ['Day2' '16:10' 'T3' 'S2Graph: A Large scale graph database with HBase' 65]
47 ['Day2' '16:10' 'T4' 'Large-Scale Deep Learning on Spark' 77]

In [88]:
## 연산
ds['session_id']+1000000

0     1000115
1     1000095
2     1000119
3     1000114
4     1000089
5     1000061
6     1000076
7     1000116
8     1000121
9     1000113
10    1000087
11    1000067
12    1000088
13    1000064
14    1000074
15    1000078
16    1000070
17    1000112
18    1000071
19    1000072
20    1000118
21    1000109
22    1000075
23    1000090
24    1000092
25    1000063
26    1000126
27    1000123
28    1000117
29    1000094
30    1000085
31    1000125
32    1000124
33    1000082
34    1000069
35    1000111
36    1000091
37    1000122
38    1000068
39    1000086
40    1000073
41    1000084
42    1000093
43    1000062
44    1000083
45    1000080
46    1000065
47    1000077
Name: session_id, dtype: int64

In [89]:
ds.session_id*10

0     1150
1      950
2     1190
3     1140
4      890
5      610
6      760
7     1160
8     1210
9     1130
10     870
11     670
12     880
13     640
14     740
15     780
16     700
17    1120
18     710
19     720
20    1180
21    1090
22     750
23     900
24     920
25     630
26    1260
27    1230
28    1170
29     940
30     850
31    1250
32    1240
33     820
34     690
35    1110
36     910
37    1220
38     680
39     860
40     730
41     840
42     930
43     620
44     830
45     800
46     650
47     770
Name: session_id, dtype: int64

In [90]:
ds['session_id']+ds.session_id

0     230
1     190
2     238
3     228
4     178
5     122
6     152
7     232
8     242
9     226
10    174
11    134
12    176
13    128
14    148
15    156
16    140
17    224
18    142
19    144
20    236
21    218
22    150
23    180
24    184
25    126
26    252
27    246
28    234
29    188
30    170
31    250
32    248
33    164
34    138
35    222
36    182
37    244
38    136
39    172
40    146
41    168
42    186
43    124
44    166
45    160
46    130
47    154
Name: session_id, dtype: int64

In [91]:
ds.sum()

day           Day1Day1Day1Day1Day1Day1Day1Day1Day1Day1Day1Da...
time          10:0010:0010:0010:0011:0011:0011:0011:0012:001...
zone          T1T2T3T4T1T2T3T4T1T2T3T4T1T2T3T4T1T2T3T4T1T2T3...
title         네이버 효과툰은 어떻게 만들어졌나?실전 스위프트 프로그래밍Developing And...
session_id                                                 4389
dtype: object

In [92]:
ds.mean()

session_id    91.4375
dtype: float64

In [94]:
ds.describe()

       session_id
count   48.000000
mean    91.437500
std     20.899869
min     61.000000
25%     73.750000
50%     87.500000
75%    113.250000
max    126.000000

In [95]:
## data grouping
ds.groupby(['day']).count()

      time  zone  title  session_id
day
Day1    24    24     24          24
Day2    24    24     24          24

In [61]:
## row apply functions each rows
## time필드에서 시간만 추출하기 
ds['hour'] = ds['time'].apply( lambda x: int(x[:2]))
ds.head()

,day,time,zone,title,session_id,day_hour,hour
0,Day1,10:00,T1,네이버 효과툰은 어떻게 만들어졌나?,115,Day1 10h,10
1,Day1,10:00,T2,실전 스위프트 프로그래밍,95,Day1 10h,10
2,Day1,10:00,T3,Developing Android Libraries: Lessons from Realim,119,Day1 10h,10
3,Day1,10:00,T4,DRC-HUBO: Technical Review,114,Day1 10h,10
4,Day1,11:00,T1,네이버 효과툰 구현 이야기,89,Day1 11h,11

In [62]:
## day와 time을 합치기
ds['day'] + ' ' + ds['time']
ds['day_hour']=ds.apply( lambda x : x.day+' '+x.time[:2] + 'h', axis=1 ) 
ds.head()

,day,time,zone,title,session_id,day_hour,hour
0,Day1,10:00,T1,네이버 효과툰은 어떻게 만들어졌나?,115,Day1 10h,10
1,Day1,10:00,T2,실전 스위프트 프로그래밍,95,Day1 10h,10
2,Day1,10:00,T3,Developing Android Libraries: Lessons from Realim,119,Day1 10h,10
3,Day1,10:00,T4,DRC-HUBO: Technical Review,114,Day1 10h,10
4,Day1,11:00,T1,네이버 효과툰 구현 이야기,89,Day1 11h,11

In [63]:
## 행렬 변환
ds.pivot('day_hour','zone','title')

zone,T1,T2,T3,T4
day_hour,,,,
Day1 10h,네이버 효과툰은 어떻게 만들어졌나?,실전 스위프트 프로그래밍,Developing Android Libraries: Lessons from Realim,DRC-HUBO: Technical Review
Day1 11h,네이버 효과툰 구현 이야기,LINE on Apple Watch,Quality without QA,MIT Cheetah 로봇의 탄생
Day1 12h,Packetbeat 과 Elasticsearch 를 이용한 실시간 모니터링,Rust 프로그래밍 언어,브라우저는 VSync 를 어떻게 활용하고 있을까,Immersive Sound for VR
Day1 14h,React Everywhere,How Riot Works,안드로이드 기반의 모바일 혈액진단기 개발 삽질기 그리고 우리가 쌓은 경험,Mobile 앱에서 효율적인 storage 접근 방법
Day1 15h,영상 인식을 통한 오프라인 고객 분석 솔루션과 딥러닝,웹 브라우저 감옥에서 살아남기,딥러닝에서 스트림처리까지: 빅데이터 분석 메타 프레임워크 Apache REEF,데이터 센터의 오픈 소스 Open Compute Project (OCP)
Day1 16h,데이터사이언스팀 빌딩 그리고 시스템 구축,JPA와 모던 자바 데이터 저장 기술,Accelerated compositing in WebKit: Now and in ...,대규모 분산환경에 최적화된 APM:Pinpoint
Day2 10h,네이버 검색과 데이터마이닝,Large scale backend service development using ...,Building Ethereum,Data science with Apache Zeppelin
Day2 11h,Docker Orchestration,대화 시스템 서비스 동향 및 개발 방법,HBase consistent secondary indexing,기계 번역 모델 기반 질의 교정 시스템
Day2 12h,The simplicity of cluster apps with the Circui...,수퍼컴퓨팅과 데이터 어낼리틱스 프레임워크 그리고 UNIST의 빅데이터 처리 프레임워크,Level 2 Network Programming using PacketNgin RTOS,산업 현장을 위한 증강 현실 기기 DAQRI Helmet 개발기
Day2 14h,Storm과 Elasticsearch를 활용한 로깅 플랫폼의 실시간 알람 시스템 구현,WIFI를 이용한 실내 장소 인식 하기,Turning data into value,분산 환경에서의 스트림과 배치 처리 통합 모델
Day2 15h,Implementing Deep Learning using cuDNN,증분 처리 플랫폼 Cana 개발기,Enterprise Dataflow with Apache NiFi,Presto 내부 구조 파헤치기
Day2 16h,코끼리 냉장고에 집어넣기 - 실시간 추천엔진을 머신 한대에 구겨넣기,Netflix 빅데이터 플랫폼 + Apache Spark 통합 경험기,S2Graph: A Large scale graph database with HBase,Large-Scale Deep Learning on Spark

In [64]:
import numpy as np
ds.pivot_table(columns='time', values='session_id', index='zone', aggfunc=np.count_nonzero)

time  10:00  11:00  12:00  14:10  15:10  16:10
zone
T1        2      2      2      2      2      2
T2        2      2      2      2      2      2
T3        2      2      2      2      2      2
T4        2      2      2      2      2      2