## word2vec으로 추천 시스템 구현하기

In [1]:
from gensim.models import Word2Vec
import pandas as pd
from collections import defaultdict
import numpy as np
import mykmeans as kmeans

In [687]:
## string to int with ignore none disit
def toint(s,default=0):
    converted = default
    try :
        converted = int(s)
    except:
        #print('string convert exception "{0}" (default={1})"'.format(s , default))
        pass
    return converted

class m2v_recsys:
    model = None
    home_dir = '/Users/goodvc/Documents/data-analytics/movie-recommendation/'
    w2v_env = { 'min_count':5, 'size':100, 'window':5 }
    nn_func = None

    ## initialize
    def __init__(self, ds_type='ml-latest-small'):
        self.ds_type = ds_type
        self.movieLensDataLoad()

    ## dataset load
    def movieLensDataLoad(self, ds_type=None):
        if ds_type != None:§
    def training(self):
        if self.model == None :
            self.scentences = self.make_sentences()
            self.model = Word2Vec(self.scentences, 
                                  min_count = self.w2v_env['min_count'],
                                  size = self.w2v_env['size'], 
                                  window = self.w2v_env['window'])
            print('model trained')
            
    def nearest_neighbors_by_m2v(self, target, topn=10):
        if str == type(target):
            target=[target]
        result = []
        try:
            result = self.model.most_similar(positive=target, topn=topn)
        except:
            pass
        return result

    def user_interests(self, userId):
        return self.ratings_movie[self.ratings_movie.userId==userId][['title','rating']].values.tolist()
    
    def cal_score(self, title, sim, rating, pre_score):
        score = np.linalg.norm([sim, rating/5])
        score = score+pre_score
        return score
    
    def recommend_movies(self, userId, topn=10):
        movies = defaultdict(float)
        interests = self.user_interests(userId)
        seenMovies = set( m for m,s in interests )
        for title, rating in interests:
            neighbors = self.nearest_neighbors_by_m2v(title)
            for (title2, sim) in neighbors:
                if title2 in seenMovies:
                    continue
                pre = movies.get(title2, 0.0)
                movies[title2] = self.cal_score( title2, sim, rating, pre ) 
        return {'recommended' : sorted(movies.items(), key=lambda x: x[1], reverse=True)[:topn]
                ,'ratings':interests}

    ####################################
    ## clustering methods
    def clustering(self, k=100, delta=0.00000001, maxiter=100):
        self.movie_vec = self.model.syn0
        centres, index2cid, dist = kmeans.kmeanssample(self.movie_vec, k, 
                                                       metric = 'cosine', 
                                                       delta = delta, 
                                                       nsample = 0, maxiter = maxiter,)
        self.clustered_ds = pd.DataFrame( [ (a, b, c) for a, b, c in zip(self.model.index2word, index2cid, dist )],
                     columns=['title', 'cid', 'dist'] ).sort(['cid','dist'], ascending=True)
        
        self.movie2cid = { movie:cid for movie,cid in zip(self.model.index2word, index2cid) }
        
        return (centres, index2cid, dist)
    
    def clusterMembersByCId(self, cid):
        return self.clustered_ds[self.clustered_ds.cid==cid]
    
    def clusterMembersByTitle(self, title):
        cid = self.clustered_ds[self.clustered_ds.title==title]['cid'].values[0]
        return self.clusterMembersByCId(cid) 
    
    def clusterTags(self, cid):
        ds = pd.merge(self.tags
                 , self.clusterMembersByCId(cid)
                 , on='title')
        ds['dist'] = 1 - ds['dist']
        cid_tags = ds.groupby(['tag'])['dist'].sum().sort(inplace=False,ascending=False)[:5]
        return cid_tags
    ######################################
    
    def user_mcate_interests(self, uid, v=False):
        interests = self.user_interests(uid)
        cid_interests = defaultdict(int)
        total = 0
        for title, rating in interests:
            cid_interests[self.movie2cid.get(title, -1)] += rating/5
            total += (rating/5)
        interests_ds = pd.DataFrame. from_dict({'score':cid_interests},orient='columns')
        interests_ds['score'] = round(interests_ds['score'] / total,5)
        interests_ds.sort(['score'], ascending=False, inplace=True)
        
        if True==v:
            for cid, score in interests_ds.iterrows():
                print(cid,score.values[0],cid,self.clusterTags(cid).index.values[:3])
        return interests_ds

In [688]:
## 20m dataset
m2v_rs_ml20 = m2v_recsys('ml-20m')
m2v_rs_ml20.load_model('./resource/m2v_rs.ml20.model')

model loaded ./resource/m2v_rs.ml20.model

In [689]:
(centres, index2cid, dist ) = m2v_rs_ml20.clustering(k=500, maxiter=200, delta=1e-20)

kmeans: X (5000, 100)  centres (500, 100)  delta=1e-20  maxiter=200  metric=cosine
kmeans: 15 iterations  cluster sizes: [10  9  1  3  8  1  1 17 11  9  4  5 18  4  1  1  3  1  7 10 11 23 13 28 20
  2  6 18  3  7 23 14 17 12  8 33 15  7  4 12  4  1  3  2  2 16  9 15  7  1
 14 11  8  1  6  9 25  6  5  1  2  8 12  1 16  8 17 13 12 10  3 12  0  0 10
  8  6  0 13  1  0 12 25  1  1 18  4  1  6  4  6 26 54  7  5  4  5 27  7  9
  2 13  3  5 12  1  3  9  6  8  7 10  8  8 13 43  1  4  3  3 20 21  6 18 15
 10  1 14  5  5  2  1 12  2  3  1 15 19 12  9 16 28 15 23  7 12  0  8 20 30
  5  5  4  1 11  8 20 13  5  3  5  2 31  4 23 21 20  3  8  4 14 41  8  8  8
  2  9 24  6  7  0  9  1 26  6  4 10  1  7  2 19  3 10  0  1 15 16  3  6  1
  9  1  5 20  3  7 11 29  5 43  2  4 10  9 32  7 25 10 17  2 25 10 16 13 28
  5  5 23 18 19  8 14  3  1  4  9 11  9  1 16  3 11 17  0  7 16 15  2  5  3
  8  1  2  2 30 11 11 33 12  0  7  3  3 18  4  7  0  4  0 13 61 11 15  0 18
 12  7 10 22 35 14  9 23  6 14  8  2 19  0 11 24  6  5  5  6  4  3  9  8 20
 10  0  5 13  2  3 19 15 14  1  8  1 11 11 11  4  1  8 22 18  5  1 17  5 17
 20  6 10  9  3 18  3 12 33  1  0  4 11 38 23  6  1 26 15  2 11 19 38 13  1
  4  5 16  1 28 26 16 14 12  3 15 18  6 15  6 23  1  6 15  7  8 11  5 14  5
 10  7  4 20 27  8  7 12 13  3  3 10  8  3 18  6  9 23 19  0  3  6 25 31 12
  5  1 17  7  9  7  6 26  3  2  1  7 10  2  7 29 23 10 22  2 12  6  4 13 11
  1  5  8  2  1  3  3  4  5 16  4  7  0  6  5  4  2 20  6 11  4 16 13 28  2
  1  4 14  2  8  0  9 11 20  8 16  2 13 36  1 13  3  5  4  1 14 24  0  7 19
  2  9  0 12  3  6 20  9 10 22  7  4 10  2  1 11  2  3  5 12 11  3  4 33 15]
kmeans: X (13173, 100)  centres (500, 100)  delta=1e-20  maxiter=200  metric=cosine
kmeans: 40 iterations  cluster sizes: [ 16  26   1  10  23   1   1  30  77  59  10  14  42   9   2   2   3   2
  18  25  21  41  32  45  76  19   8  22  15  17  37  54  39  31  19  73
  51  23  17  24  37   5   4  11   2  44  13  42  28   1  36  23  54   1
  11  33  57  18   9   1   2  24  14   1  27  20  43  26  35  26   5  22
   1  15  18  16  15   1  31   1   1  39  32   1   1  36  18   1  12   5
  11  51 114  21  13   4  31  49  27  22   9  26   5  16  42   1  14  13
  12  19  23  30  16  21  22 104  14   7  10  10  42  71  26  74  43  46
   2  18  12  15   3   1  18  14  21   2  35  62  23  26  31  55  51  64
  14  37   2  36  35  95  19  15  11   1  33  36  46  29  13   3  23  15
  92  14  42  48  41   5  18  22  24  90  14  35  21   4  48  61  18  26
   1  18   1  60  10  16  16   1  24   3  36   9  22   1   3  29  40   8
   8   1  20   1  16  52   9  20  30  89  17 116   4  37  16  20  78  14
  45  16  23   2  60  31  20  45  67   8  18  74  42  66  17  45  11   1
  25  28  38  27   2  41   8  34  44   1  20  45  44   2  15  13  25   1
   4   3  94  20  83  62  41   1  17   3  14  69  13   7   1  24   1  48
 101  24  28   1  30  49  20  21  51  60  41  20  42  52  39  26   5  39
   2  25  59  26  13  12  48  25  25  30  31  43  43   1  31  27  13   5
  45  24  18   3  20   1  24  28  29  14   1  34  59  39  26   2  44  13
  46  41  19  29  37  16  30  29  34  73   1   1  10  40 103  49  19   1
  65  34   4  38  34  89  40   2  16  33  28   1  81  59  41  27  40  23
  30  69  24  48  17  43  11  11  31  17  17  41  10  49  20  20  19  14
  38  71  25   6  47  57  18  10  18  15  23  55  14  23  45  43   5  62
  21  51  89  46   9   2  43  22  19  19  11  58   5  11   1  32  28   3
  19  90  58  29  47   2  22  10  14  35  30   3  20  17   2   1   4   8
  20  20  34   5  27   1  26  15  16   3  28  18  34  11  32  26  94   2
   1  10  53   6  37   8  15  20  45  36  46   3  27  62   1  34  15  12
   8   1  22  55   1  25  49   9  32   2  29   8  26  54  27  19  66  29
  14  18   5   5  24   9  10  14  24  31   4  14  56  21]

In [612]:
m2v_rs_ml20.clusterMembersByCId(23)

                                                   title  cid      dist
5370        Pursuit of D.B. Cooper, The (a.k.a. Pursuit)   23  0.038943
6233                                       War and Peace   23  0.045101
11859                                  Monster Club, The   23  0.046061
4724                                              Martin   23  0.046308
12923                                Cast a Giant Shadow   23  0.046832
1821                                             Ffolkes   23  0.049292
10218  Ninth Configuration, The (a.k.a. Twinkle, Twin...   23  0.050250
8473                                     Summer Place, A   23  0.053552
1214                                 Black Scorpion, The   23  0.054639
12716                         Mr. Hobbs Takes a Vacation   23  0.060728
5662                                     Rich and Famous   23  0.061506
10813                                         Other, The   23  0.064541
842                             Church, The (Chiesa, La)   23  0.065483
10180                                          Jail Bait   23  0.065627
6686              Black Sunday (La maschera del demonio)   23  0.070944
9420                                             Society   23  0.073211
10201                     Brother, Can You Spare a Dime?   23  0.074717
767                                         Road to Bali   23  0.077628
12684                       If You Could See What I Hear   23  0.077906
7908                                       Two Evil Eyes   23  0.078754
1161                                   Under the Volcano   23  0.079362
9514                                Devil Rides Out, The   23  0.079437
6794            Rowing with the Wind (Remando al viento)   23  0.079793
8159                                       Strait-Jacket   23  0.081749
3348                             Day of the Dolphin, The   23  0.083804
5112                                     Hired Hand, The   23  0.084189
1787                                           Obsession   23  0.084267
3378                                       Desert Hearts   23  0.086665
10592                                 Still of the Night   23  0.087957
8226                                    Southern Comfort   23  0.088507
4744            Black Sabbath (Tre volti della paura, I)   23  0.089212
9630                                Who'll Stop the Rain   23  0.090103
10782                                     Lady in a Cage   23  0.090725
248    Mighty Peking Man (a.k.a. Goliathon) (Xing xin...   23  0.092654
9831                    Whatever Happened to Aunt Alice?   23  0.093358
518                                                Coffy   23  0.093516
5523                                            Marooned   23  0.096989
87                                    Across the Pacific   23  0.100709
11177  Bay of Blood (a.k.a. Twitch of the Death Nerve...   23  0.100888
1133                                 Across 110th Street   23  0.107527
8796                 Horse in the Gray Flannel Suit, The   23  0.116066
1111                                            Sayonara   23  0.118882
1507                               First Men in the Moon   23  0.124084
3050                           20 Million Miles to Earth   23  0.130579
3086        Joseph and the Amazing Technicolor Dreamcoat   23  0.157565
4352                                             Zone 39   23  0.178092
8559                   Young Master, The (Shi di chu ma)   23  0.224085

In [603]:
m2v_rs_ml20.clusterMembersByTitle('Saw II')

                                title  cid      dist
162                            Saw IV  377  0.053128
11419                           Saw V  377  0.062632
18                            Saw III  377  0.087176
10089                          Saw VI  377  0.089147
4585                  Hostel: Part II  377  0.103229
8026                           Saw II  377  0.134398
5553   Saw VII 3D - The Final Chapter  377  0.136295
7035                    Scary Movie 4  377  0.253404

In [596]:
m2v_rs_ml20.clusterMembersByTitle('Nixon')

                                     title  cid      dist
7309                     Leaving Las Vegas  103  0.103979
437                       Dead Man Walking  103  0.107285
8919                 Sense and Sensibility  103  0.130243
10656                   Mr. Holland's Opus  103  0.147282
10023                                 Heat  103  0.176812
9431                      Mighty Aphrodite  103  0.190162
1041                         Birdcage, The  103  0.190465
12173                                Nixon  103  0.199732
13129                          Primal Fear  103  0.257689
9578                          Broken Arrow  103  0.319940
2935                       Time to Kill, A  103  0.336613
7170   Willy Wonka & the Chocolate Factory  103  0.441802

In [621]:
for cid in range(100,130):
    print('cid :',cid,m2v_rs_ml20.clusterTags(cid).index.values[:3])

cid : 100 ['Betamax' 'Bruce Lee' 'soccer']
cid : 101 ['sci-fi' 'action' 'Leonardo DiCaprio']
cid : 102 ['nudity (topless - notable)' 'Nudity (Full Frontal)'
 'not available from Netflix']
cid : 103 ['based on a book' 'atmospheric' 'Jane Austen']
cid : 104 ['sci-fi' 'classic' 'time travel']
cid : 105 ['Mama' 'Inception' 'Funny']
cid : 106 ['comedy' 'Will Ferrell' 'jesus']
cid : 107 ['less than 300 ratings'
 'Florida Film Festival Winner Special Jury Award for Narrative Filmmaking 1999'
 'Florida Film Festival Winner']
cid : 108 ['road trip' 'Nicole Kidman' 'Johnny Depp']
cid : 109 ['teacher student relationship' 'Pedro AlmodÃ³var' 'AlmodÃƒÂ³var!!!!']
cid : 110 ['Robert De Niro' 'Quentin Tarantino' 'mentor']
cid : 111 ['hallucinatory' 'David Lynch' 'surreal']
cid : 112 ['horror' 'Betamax' 'slasher']
cid : 113 ['revenge' 'psychology' 'predictable']
cid : 114 ['ninja']
cid : 115 []
cid : 116 ['time travel' 'Nudity (Topless)' 'supernatural']
cid : 117 ['noir thriller' 'CLV' 'neo-noir']
cid : 118 ['Betamax' 'nudity (topless)' 'Nudity (Full Frontal - Notable)']
cid : 119 ['BD-R' 'Betamax' 'less than 300 ratings']
cid : 120 ['disturbing' 'lesbian' 'Takashi Miike']
cid : 121 ['less than 300 ratings' 'BD-R' 'World War II']
cid : 122 ['time travel' 'quirky' 'Nudity (Topless)']
cid : 123 ['Marion Cotillard' 'documentary' 'French']
cid : 124 ['nazis' 'World War II' 'tense']
cid : 125 ['Vincent Price' 'Takashi Miike' 'jazz']
cid : 126 ['BD-R' 'Criterion' 'noir thriller']
cid : 127 ['BD-R' 'less than 300 ratings' 'based on a book']
cid : 128 ['CLV' 'Shakespeare' 'based on a book']
cid : 129 ['Betamax' 'dancing' 'comedy']

In [605]:
m2v_rs_ml20.clusterMembersByCId(90)

                                                   title  cid      dist
11983  Pirates Who Don't Do Anything: A VeggieTales M...   90  0.023139
1873                                          Full of It   90  0.056454
11161                                  Billabong Odyssey   90  0.076041
13089                                      Baggage Claim   90  0.076166
1791                              Hell Comes to Frogtown   90  0.076448
10915                MacGyver: Lost Treasure of Atlantis   90  0.087512
1031                         Pebble and the Penguin, The   90  0.090192
4074                            Killer Bean 2: The Party   90  0.092154
3504                                        Super Sucker   90  0.092339
12435                                      Blackout, The   90  0.094893
9192                                        Pledge This!   90  0.098872
4250                             Who Am I? (Wo shi shei)   90  0.109465
9470                                         Aaja Nachle   90  0.124112
9621                                        Resurrection   90  0.126860
6325                       Trench Road (Juoksuhaudantie)   90  0.131209
6324                                           Nuremberg   90  0.138023
5682                                            Daybreak   90  0.146905
3177                                       Nobody's Baby   90  0.154267
3828                                    Eye of the Tiger   90  0.181302
11586                          Cazuza - O Tempo Não Pára   90  0.208900

In [606]:
m2v_rs_ml20.clusterMembersByTitle('Matrix, The')

                                                   title  cid      dist
3000                                    Sixth Sense, The  342  0.145427
8826                                         Matrix, The  342  0.146262
3664                                 Saving Private Ryan  342  0.166291
8681                                 Princess Bride, The  342  0.209890
13095                                  L.A. Confidential  342  0.230251
11742                                    American Beauty  342  0.233694
12119                                  Good Will Hunting  342  0.247404
10507                    Monty Python and the Holy Grail  342  0.250881
11952                                         Fight Club  342  0.265294
6461   Raiders of the Lost Ark (Indiana Jones and the...  342  0.280892
9115                                 Shakespeare in Love  342  0.299543
1951                                Being John Malkovich  342  0.319554
5997                                             Titanic  342  0.329696
4075   Lord of the Rings: The Fellowship of the Ring,...  342  0.333900
1969                                       Groundhog Day  342  0.338487
3196      Lord of the Rings: The Return of the King, The  342  0.360220
9951              Lord of the Rings: The Two Towers, The  342  0.367205
7449                           Men in Black (a.k.a. MIB)  342  0.373105
12631          Star Wars: Episode I - The Phantom Menace  342  0.492000

In [497]:
m2v_rs.clustering()

kmeans: X (1000, 100)  centres (100, 100)  delta=1e-08  maxiter=100  metric=cosine
kmeans: 11 iterations  cluster sizes: [ 4  8  4  9  5 10  5 24 11 86  3  5  4  3  6  4 10  2  5  9  5 51  3  9 25
  4 16  2 11  6  6  5 15  4  7 10  4  8  7 15  6  5  4  5  3  9  6  7 22 14
  8 10  6  5  7  9 64 12  3  9 12  3  4  3  8 11 32  4  4  7  2  9  6 10 11
  3  6 31  9  6 10  8 16  7  8  6 11  6 16  6 14  7  9  7  8  5  7  9  8  7]
kmeans: X (1099, 100)  centres (100, 100)  delta=1e-08  maxiter=100  metric=cosine
kmeans: 6 iterations  cluster sizes: [  5   8   5  10   6  12   5  23  12 101   3   8   4   5   7   5  10   5
   5  10   5  57   4  11  25   5  17   2  11   7   7   6  16   4   7  11
   5   8   7  16   8   6   6   5   3  10   6   7  23  15   8  10   6   5
  10   9  66  12   3  10  13   4   4   3   8  11  33   4   4   8   2  10
   6  14  11   5   6  34   9   6  13   9  18   8   9   6  12   6  17   6
  14   8  11   8   8   5   7  13   9   9]

(array([ 9,  9,  5, ..., 10, 56, 88]),
 array([[ -2.05094717e-03,   9.53356270e-04,   9.24346023e-05, ...,
          -1.03916787e-03,   1.68464263e-03,   1.30630215e-03],
        [  2.97280902e-04,  -1.09126291e-03,   1.41588598e-03, ...,
          -1.52803003e-03,  -1.86778745e-03,   8.85844813e-04],
        [  3.26073426e-03,  -1.84293871e-03,   1.99179118e-03, ...,
           8.54265410e-04,   2.14851781e-04,  -3.81570775e-04],
        ...,
        [  1.34107075e-03,   1.44365162e-03,   4.71084175e-04, ...,
           2.47493805e-03,   9.32482071e-04,  -3.76198877e-04],
        [ -1.88021036e-03,  -2.52586673e-04,  -3.20180971e-03, ...,
          -2.15061867e-04,  -1.76366209e-03,   1.82774977e-03],
        [  2.44270195e-03,   1.25406054e-03,   2.93661375e-03, ...,
           2.71253451e-03,   2.64538336e-03,  -4.71767766e-04]], dtype=float32))

In [629]:
m2v_rs_ml20.clusterTags(81)

tag
stupid              8.137575
high school         7.826824
Robert Rodriguez    5.926682
Crappy Remake       4.857144
based on a book     4.464471
Name: dist, dtype: float64

In [666]:
interests = m2v_rs_ml20.user_interests(10)
cid_interests = defaultdict(int)
total = 0
for title, rating in interests:
    cid_interests[m2v_rs_ml20.movie2cid.get(title, -1)] += rating/5
    total += (rating/5)
interests_ds = pd.DataFrame. from_dict({'score':cid_interests},orient='columns')
interests_ds['score'] = (interests_ds['score'] / total)
interests_ds.sort(['score'], ascending=False, inplace=True)

#for cid in cid_interests.keys():
#    cid_interests[cid] = round(cid_interests[cid]/total,5)

        score
487  0.222973
480  0.189189
299  0.101351
125  0.087838
441  0.074324
322  0.054054
452  0.047297
105  0.027027
265  0.027027
277  0.027027
374  0.027027
431  0.027027
438  0.027027
160  0.020270
259  0.020270
400  0.020270

In [670]:
m2v_rs_ml20.user_mcate_interests(1)

        score
15   0.250000
363  0.162162
275  0.128378
226  0.094595
5    0.047297
142  0.047297
235  0.047297
143  0.027027
154  0.027027
212  0.027027
296  0.027027
361  0.027027
421  0.027027
208  0.020270
216  0.020270
392  0.020270

In [690]:
interests = m2v_rs_ml20.user_mcate_interests(100, v=True)

TypeError: type Series doesn't define __round__ method

In [691]:
for cid, score in interests.iterrows():
    print(cid,score.values[0],cid,m2v_rs_ml20.clusterTags(cid).index.values[:3])

280 0.128378378378 280 ['horror' 'Betamax' 'slasher']
128 0.121621621622 128 ['nostalgic' 'espionage' 'karate']
296 0.108108108108 296 ['Betamax' 'nudity (topless)' 'BD-R']
251 0.0743243243243 251 []
52 0.0608108108108 52 ['BD-R' 'less than 300 ratings' 'blaxploitation']
79 0.0608108108108 79 ['stranded' 'wartime' 'soldier']
5 0.0540540540541 5 ['less than 300 ratings' 'lawyer as protagonist?' 'Legal']
101 0.0540540540541 101 ['coming of age' 'quirky' 'stylized']
481 0.0472972972973 481 ['Hugh Dancy' 'Rose Byrne' 'asperger syndrome']
413 0.0405405405405 413 ['Hulk Hogan' 'franchise' 'Thanatos!']
126 0.027027027027 126 ['Buster Keaton' 'DVD-R' 'Eddie Izzard']
6 0.027027027027 6 ['Howard Hughes' 'perrot library' 'motorcycle']
110 0.027027027027 110 ['drugs' 'Johnny Depp' 'poker']
278 0.027027027027 278 ['funny' 'beautiful' 'cliche']
292 0.027027027027 292 ['treasure' 'family' 'supernatural']
376 0.027027027027 376 ['superhero' 'Johnny Depp' 'Will Smith']
437 0.027027027027 437 []
86 0.0202702702703 86 ['Betamax' '70mm' 'Shunji Iwai']
63 0.0202702702703 63 ['anti-hero' 'dark comedy' 'black comedy']
143 0.0202702702703 143 ['Criterion' 'Japan' 'BD-R']

In [674]:
interests

        score
15   0.250000
363  0.162162
275  0.128378
226  0.094595
5    0.047297
142  0.047297
235  0.047297
143  0.027027
154  0.027027
212  0.027027
296  0.027027
361  0.027027
421  0.027027
208  0.020270
216  0.020270
392  0.020270